<ion-content [fullscreen]="true">
  <ng-container *ngIf="actualUser">
    <app-user-info [user]="actualUser"></app-user-info>
  </ng-container>

  <ion-row class="ion-justify-content-center ion-padding">
    <ion-col size="auto">
      <ion-button fill="outline" (click)="editProfile()">{{"personal.edit" | translate}}</ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button color="danger" (click)="deleteAccount()">{{"personal.delete" | translate}}</ion-button>
    </ion-col>
  </ion-row>

  <app-post-list
  [showEditDeleteButtons]="true"
  [posts]="userPosts"
  (deletePost)="onDeletePost($event)"
  (editPost)="onEditPost($event)">

  </app-post-list>

<!--
  <app-post-list 
  [posts]="userPosts"  
  [showEditDeleteButtons]="true"
  (editPost)="onEditPost($event)"
  (deletePost)="onDeletePost($event)"
  (likePost)="onLikePost($event)"
  (commentPost)="onCommentPost($event)"
  (viewComments)="onShowComments($event)"
  ></app-post-list>  -->

</ion-content>
